html, body {
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #047364;
    padding: 1% 0;
    font-size: 2em;
    border-bottom-width: 0px;

}

.collapse {
    font-family: Comic Sans MS, cursive, sans-serif
}

.navbar-brand {
    min-height: px;
    padding: 3px 15px 5px;
}

.navbar-default .navbar-nav li a {
    color: #D5D5D5;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active {
    color: #FFF;
}

footer {
    width: 100%;
    background-color: #047364;
    padding: 5% 5% 5% 5%;
}
