html, body {
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #047364;
    padding: 1% 0;
    font-size: 1,2em;
    border-bottom-width: 0px;
}

.navbar-brand {
    min-height: 55px;
    padding: 0 15px 5px;
}

.navbar-default .navbar-nav li a {
    color: #D5D5D5;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active {
    color: #FFF;
}

#start {
    background: url(img/startBak.jpg);
    display: table;
    height: 100%;
    background-position: center center;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}
.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 90px 0 200px;
    height: 100%;
    color: #D5D5D5;
}

.landing-text h1 {
    font-weight: 700;
}

footer {
    width: 100%;
    background-color: #047364;
    padding: 5% 5% 5% 5%;
}
