<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="test.css">

    <title>MuQuiz questions</title>
</head>
<body>

<h1>MuQuiz <span th:text="${username}"></span></h1>

<div id="countdown"></div>

<p>Score:
    <meter id="myMeter" min="0" low="1000" high="9500" max="10000" value="10000">
    </meter>
</p>


<form action="/questions" method="post">
    <input type="submit" value="nästa">
</form>

<a href="/questions">Questions</a>
<a href="/results">Results</a>

<i><span th:text="${overview}"></span></i>
<p>
<div style="display: flex; flex-direction: row">
    <ul th:each="urlList,iter : ${url}">
        <form action="/questions" method="post">
            <button type="submit" th:value="${urlList.id}" name="answer">
            <input type="hidden" th:id="'score' +${iter.index}" name="score"/>
            <img th:src="'https://image.tmdb.org/t/p/w200/' +${urlList.poster_path}"></button>
        </form>
    </ul>
</div>
</p>

<p>

</p>
<script>
var score = 10000 ;

var scoreTimer = setInterval(count,1);

function count() {
    if(score <= 0){
        clearInterval(scoreTimer);
        document.getElementById("countdown").innerHTML = "Times up";
    }
    else {
        document.getElementById("countdown").innerHTML = "Score: " + score;
        document.getElementById("myMeter").value = score;
        document.getElementById("score0").value = score;
        document.getElementById("score1").value = score;
        document.getElementById("score2").value = score;
        }
  score -= 1;
}
</script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>