<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MuQuiz questions</title>
</head>
<body>

<h1>MuQuiz: <span th:text="${username}"></span></h1>
<div id="countdown"></div>


<form action="/questions" method="post">
    <input type="submit" value="nästa">
</form>

<a href="/questions">Questions</a>
<a href="/results">Results</a>


<i><span th:text="${overview}"></span></i>
<p>
<div style="display:flex; flex-direction: row">
    <ul th:each="urlList : ${url}">
        <form action="/questions" method="post">
            <button type="submit" th:value="${urlList.id}" name="answer">
                <img th:src="'https://image.tmdb.org/t/p/w200/' +${urlList.poster_path}"></button>
        </form>
    </ul>
</div>
</p>

<p>

</p>
<script>
var score = 10000 ;
var scoreTimer= setInterval(function(){
  if(score <= 0){
    clearInterval(scoreTimer);
    document.getElementById("countdown").innerHTML = "Times up";
  } else {
    document.getElementById("countdown").innerHTML = "Score: " + score;
  }
  score -= 1;
}, 1);

</script>
</body>
</html>
